<div *ngIf="userRole=='Admin'">
  <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="userRole=='Agent'">
  <app-agent-navbar></app-agent-navbar>
</div>
<div *ngIf="userRole=='Employee'">
  <app-employee-navbar></app-employee-navbar>
</div>
<body>
<div class="login-container">
    <h1>Change Password</h1>
    
    <form [formGroup]="changePasswordAdmin" (ngSubmit)="changeAdminPassword(changePasswordAdmin.value) ">
      
      <div class="form-group">
        <label for=""> Old Password</label>
        <input type="hidden" formControlName="id" [(ngModel)]="adminId" >
        <input type="password" id="oldPassword" name="oldPassword" placeholder="Enter Old Password"formControlName="oldPassword" >
      </div>
      <div class="form-group">
        <label for="">New Password</label>
        <input type="password" id="newPassword" name="username" placeholder="Enter New Password" formControlName="newPassword">
      </div>
      <div class="form-group">
        <label for="">Confirm Password</label>
        <input type="password" id="confirmPassword" name="username" placeholder="Confirm your Password" formControlName="confirmPassword">
        <div *ngIf="changePasswordAdmin.hasError('passwordMismatch') && changePasswordAdmin.get('confirmPassword')?.dirty">
          Passwords do not match.
        </div>
      </div>
      
      <button type="submit" [disabled]="changePasswordAdmin.invalid">Update</button>
    </form>
  </div>
</body>

  