<div *ngIf="userRole=='Admin'">
    <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="userRole=='Agent'">
    <app-agent-navbar></app-agent-navbar>
</div>
<div class="update-agent-container">
    <h2>Admin Profile</h2>
    <form [formGroup]="adminForm" (ngSubmit)="updateAdmin()">
        <div>
            <label for="adminId">Admin ID:</label>
            <!-- <input type="text" id="admintId" formControlName="adminId" [disabled]="true" > -->
            <input type="text" id="adminId" formControlName="adminId" readonly>
        </div>
        <div>
            <label for="firstName">First Name:</label>
            <input id="firstName" formControlName="firstName" >
        </div>

        <div>
            <label for="lastName">Last Name:</label>
            <input id="lastName" formControlName="lastName" >
        </div>

        <!-- <div>
            <label for="userId">Last Name:</label> -->
            <input id="userId" formControlName="userId" type="hidden">
        <!-- </div> -->

        <button type="submit">Update Admin</button>
    </form>
</div> 