/* src/app/add-agent/add-agent.component.css */


body {
  padding-top: 65px;
  background-image: url("/assets/background-image-1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /* This keeps the background fixed while scrolling */
  margin: 0; /* Remove default body margin to cover the entire viewport */
  padding-bottom: 65px; 
}

.login-container {
  max-width: 400px;
  margin: auto;

  /* Adjust margin to center the form vertically */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to the form */
}
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  select {
    width: 100%; /* Set to the desired width */
    padding: 8px; /* Adjust padding as needed */
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  