/* src/app/add-insurance-plan/add-insurance-plan.component.css */
/* .add-insurance-plan-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
} */
body {
  padding-top: 130px;
  background-image: url("/assets/background-image-1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /* This keeps the background fixed while scrolling */
  margin: 0; /* Remove default body margin to cover the entire viewport */
  padding-bottom: 130px; 
}

.add-insurance-plan-container  {
  max-width: 400px;
  margin: auto;

  /* Adjust margin to center the form vertically */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to the form */
}
label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
}
