/* Updated CSS */
body.upload-document-container {
  padding-top: 55px;
  background-image: url("/assets/background-image-1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding-bottom: 55px;
}

.navbar-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.upload-document-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}