<!-- src/app/add-agent/add-agent.component.html -->
<div *ngIf="userRole=='Admin'">
  <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="userRole=='Agent'">
  <app-agent-navbar></app-agent-navbar>
</div>
<div *ngIf="userRole=='Employee'">
  <app-employee-navbar></app-employee-navbar>
</div>
<body>
<div class="add-insurance-scheme-container">
  <h2>Add Insurance Scheme</h2>
  <form [formGroup]="insuranceSchemeForm" (ngSubmit)="addInsuranceScheme()">

      <label>Insurance Type</label>
      <div class="form-group">
          <select id="account-plan" name="account-plan" aria-placeholder="Insurance Plan" formControlName="insurancePlanId"
              *ngIf="insurancePlanData">

              <option value="" disabled selected>Choose Insurance Plan</option>
              <option *ngFor="let insurancePlan of insurancePlanData" [value]="insurancePlan?.planId">
                  {{insurancePlan?.planName}}</option>
          </select>
          <div *ngIf="insuranceSchemeForm.get('insurancePlanId')?.hasError('required') && insuranceSchemeForm.get('insurancePlanId')?.touched">
              <span class="error-message">Insurance Plan is required</span>
          </div>

          <label for="schemeName">Scheme Name:</label>
          <input id="schemeName" formControlName="schemeName" required>
          <div *ngIf="insuranceSchemeForm.get('schemeName')?.hasError('required') && insuranceSchemeForm.get('schemeName')?.touched">
              <span class="error-message">Scheme Name is required</span>
          </div>

          <input id="planId" [(ngModel)]="insuranceSchemeForm.value.insurancePlanId" formControlName="planId" type="hidden">

          <button type="submit">Add Insurance Scheme</button>
      </div>
  </form>
</div>
</body>