<!-- agent-list.component.html -->
<div *ngIf="userRole=='Admin'">
  <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="userRole=='Agent'">
  <app-agent-navbar></app-agent-navbar>
</div>
<div *ngIf="userRole=='Employee'">
  <app-employee-navbar></app-employee-navbar>
</div>
<body>
<div class="payment-list-container">
    <h2>Payments</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Payment ID</th>
          <th>Payment Type</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Tax</th>
          <th>TotalPayment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments
        | paginate:{
          id:'listing_pagination',
          itemsPerPage:selectedItemsPerPage,
          currentPage:page,
          totalItems:totalRecords
        };index as i">
          <td>{{ payment.paymentId }}</td>
          <td>{{ payment.paymentType }}</td>
          <td>{{ payment.amount }}</td>
          <td>{{payment.date}}</td>
          <td>{{ payment.tax }}</td>
          <td>{{ payment.totalPayment }}</td>
          <!-- <td>
            <button (click)="editAgent(agent.AgentId)">Edit</button>
            <button (click)="deleteAgent(agent.AgentId)">Delete</button>
          </td> -->
        </tr>
      </tbody>
    </table>
    <div class="payment-list-container">
      <div class="items-per-page-container">
        <label for="itemsPerPage">Items per page:</label>
        <select [(ngModel)]="selectedItemsPerPage" (change)="onItemsPerPageChange()">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <!-- Add more options as needed -->
        </select>
      </div>
    <div align="center">
      <pagination-controls
        id="listing_pagination"
        [maxSize]="5"
        [directionLinks]="true"
        (pageChange)="page = $event">
      </pagination-controls>
    </div>
  </div>
</div> 
</body>
