<!-- agent-list.component.html -->
<div *ngIf="userRole=='Admin'">
  <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="userRole=='Agent'">
  <app-agent-navbar></app-agent-navbar>
</div>
<div *ngIf="userRole=='Employee'">
  <app-employee-navbar></app-employee-navbar>
</div>
<div *ngIf="userRole=='Customer'">
  <app-customer-navbar></app-customer-navbar>
</div>
<body>
<div class="insurance-plan-list-container">
    <h2>Insurance Plan List</h2>
    <button  *ngIf="userRole == 'Employee' || userRole == 'Admin'" class="add-button" (click)="addInsurancePlan()">Add Insurance Plan</button>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Plan Id</th>
          <th>Plan Name</th>
          <th  *ngIf="userRole == 'Admin'" >Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of plans
        | paginate:{
          id:'listing_pagination',
          itemsPerPage:selectedItemsPerPage,
          currentPage:page,
          totalItems:totalRecords
        };index as i">
          <td>{{ plan.planId }}</td>
          <td>{{ plan.planName }}</td>
          <td>
            
            <button  *ngIf="userRole == 'Admin'" class="edit-button" (click)="editInsurancePlan(plan.planId)">Edit</button>
            <button  *ngIf="userRole == 'Admin'" class="delete-button" (click)="deleteInsurancePlan(plan.planId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="insurance-plan-list-container">
      <div class="items-per-page-container">
        <label for="itemsPerPage">Items per page:</label>
        <select [(ngModel)]="selectedItemsPerPage" (change)="onItemsPerPageChange()">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <!-- Add more options as needed -->
        </select>
      </div>
    <div align="center">
      <pagination-controls
      id="listing_pagination"
      [maxSize]="5"
      [directionLinks]="true"
      
      (pageChange)="page =$event">
      </pagination-controls>
    </div>
  </div>
</div> 
</body>

