<div *ngIf="userRole=='Admin'">
  <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="userRole=='Agent'">
  <app-agent-navbar></app-agent-navbar>
</div>
<body>
<div class="add-employee-container">
  <h2>Add Employee</h2>
  <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
    <label for="firstName">First Name:<span class="required-field">*</span></label>
    <input id="firstName" formControlName="firstName" required>
    <div *ngIf="employeeForm.get('firstName')?.hasError('required') && employeeForm.get('firstName')?.touched">
      <span class="error-message">First Name is required</span>
    </div>

    <label for="lastName">Last Name:<span class="required-field">*</span></label>
    <input id="lastName" formControlName="lastName" required>
    <div *ngIf="employeeForm.get('lastName')?.hasError('required') && employeeForm.get('lastName')?.touched">
      <span class="error-message">Last Name is required</span>
    </div>

    <label for="mobileNo">Mobile Number:<span class="required-field">*</span></label>
    <input id="mobileNo" formControlName="mobileNo" required>
    <div *ngIf="employeeForm.get('mobileNo')?.hasError('required') && employeeForm.get('mobileNo')?.touched">
      <span class="error-message">Mobile Number is required</span>
    </div>

    <label for="email">Email:<span class="required-field">*</span></label>
    <input id="email" formControlName="email" type="email" required>
    <div *ngIf="employeeForm.get('email')?.hasError('required') && employeeForm.get('email')?.touched">
      <span class="error-message">Email is required</span>
    </div>

    <label for="salary">Salary:<span class="required-field">*</span></label>
    <input id="salary" formControlName="salary" required>
    <div *ngIf="employeeForm.get('salary')?.hasError('required') && employeeForm.get('salary')?.touched">
      <span class="error-message">Salary is required</span>
    </div>

    <label for="userName">UserName:<span class="required-field">*</span></label>
    <input id="userName" formControlName="userName" required>
    <div *ngIf="employeeForm.get('userName')?.hasError('required') && employeeForm.get('userName')?.touched">
      <span class="error-message">User Name is required</span>
    </div>

    <label for="password">Password:<span class="required-field">*</span></label>
    <input id="password" formControlName="password" type="password" required>
    <div *ngIf="employeeForm.get('password')?.hasError('required') && employeeForm.get('password')?.touched">
      <span class="error-message">Password is required</span>
    </div>

    <button type="submit">Add Employee</button>
  </form>
</div>
</body>