<!-- agent-list.component.html -->
<div *ngIf="userRole=='Admin'">
    <app-admin-navbar></app-admin-navbar>
  </div>
  <div *ngIf="userRole=='Agent'">
    <app-agent-navbar></app-agent-navbar>
  </div>
  <div *ngIf="userRole=='Customer'">
    <app-customer-navbar></app-customer-navbar>
  </div>
  <body>
  <div class="insurance-policy-list-container">
      <h2>Insurance Policy List</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Policy No</th>
            <th>Customer Name</th>
            <!-- <th>Customer Last Name</th> -->
            <th>Issue Date</th>
            <th>Maturity Date</th>
            <th>Premium Type</th>
            <th>Premium Amount</th>
            <th>SumAssured</th>
            <th>Scheme Id</th>
            <th>Status</th>
            <!-- <th>Scheme Id</th>
            <th>Payment Id</th>
            <th>Customer Id</th> -->
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let policy of policies
          | paginate:{
            id:'listing_pagination',
            itemsPerPage:selectedItemsPerPage,
            currentPage:page,
            totalItems:totalRecords
          };index as i">
            <td>{{ policy.policyNo }}</td>
            <td>{{ getCustomerName(policy.customerId)}}</td>
            <!-- <td>{{ customers[policy.customerId]?.LastName }}</td> -->
            <td>{{ policy.issueDate }}</td>
            <td>{{ policy.maturityDate }}</td>
            <td>{{ policy.premiumType}}</td>
            <td>{{ policy.premiumAmount }}</td>
            <td>{{ policy.sumAssured }}</td>
            <td>{{ policy.schemeId }}</td>
            <td>{{ policy.status }}</td>
            
          <!-- I want to call the getCustomerName here and then display their first and last name-->
            <!-- <td>{{ policy.schemeId }}</td>
            <td>{{ policy.paymentId }}</td>
            <td>{{ policy.customerId }}</td> -->
            <td>
              <button class="edit-button" (click)="editInsurancePolicy(policy.policyNo)">Edit</button>
              <button class="delete-button" (click)="deleteInsurancePolicy(policy.policyNo)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="agent-list-container">
        <div class="items-per-page-container">
          <label for="itemsPerPage">Items per page:</label>
          <select [(ngModel)]="selectedItemsPerPage" (change)="onItemsPerPageChange()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <!-- Add more options as needed -->
          </select>
        </div>
      <div align="center">
        <pagination-controls
          id="listing_pagination"
          [maxSize]="5"
          [directionLinks]="true"
          (pageChange)="page = $event">
        </pagination-controls>
      </div>
    </div>
  </div> 
  </body>
  
