/* agents-list.component.css */
body {
    padding-top: 85px;
    background-image: url("/assets/background-image-1.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /* This keeps the background fixed while scrolling */
    margin: 0; /* Remove default body margin to cover the entire viewport */
    padding-bottom: 85px; 
  }
  
  .insurance-policy-list-container  {
    max-width: 1500px;
    margin: auto;
  
    /* Adjust margin to center the form vertically */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to the form */
  }
  /* .insurance-policy-list-container {
      margin: 20px;
    } */
    
    .insurance-policy-card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .insurance-policy-details {
      flex-grow: 1;
    }
    
    .insurance-policy-actions {
      display: flex;
      gap: 10px;
    }
    
    .add-button{
      padding: 8px;
      margin-bottom: 5px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .edit-button,
    .delete-button {
      padding: 4px;
      margin-left: 4px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .delete-button {
      background-color: #dc3545;
    }
    
    .edit-button:hover,
    .delete-button:hover,
    .add-button:hover {
      background-color: #0056b3;
    }
    