<div *ngIf="userRole=='Admin'">
  <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="userRole=='Agent'">
  <app-agent-navbar></app-agent-navbar>
</div>
<div *ngIf="userRole=='Employee'">
  <app-employee-navbar></app-employee-navbar>
</div>
<div *ngIf="userRole=='Customer'">
  <app-customer-navbar></app-customer-navbar>
</div>
<body>
    <div class="insurance-account-container">
        <h1>Insurnace-Account</h1>
        <form [formGroup]="account" (ngSubmit)="storeInsuranceData(account.value)" >
            <!-- <p>Kindly enter the credentials</p> -->
            <div class="form-group">
              <label for="username">Insurance Creation Date <span>*</span></label>
              <!-- <span value="{{insuranceTypeId}}" formControlName="id"></span> -->
             
              <!-- <h1>{{agentId}}</h1> -->
              <input type="text" formControlName="issueDate" [(ngModel)]="date">
              <label for="username">Maturity Date <span>*</span></label>
              <input type="text" formControlName="maturityDate" [(ngModel)]="maturityDate">
              <label for="username">Premium Type <span>*</span></label>
              <input type="text" formControlName="premiumType" [(ngModel)]="temporaryData.premiumType">
              <label for="username">Total Premium <span>*</span></label>
              <input type="text" formControlName="premiumAmount" [(ngModel)]="temporaryData.totalInvestmentAmt">
              <!-- <label for="username">Profit Ratio <span>*</span></label>
              <input type="text" formControlName="profitRatio" [(ngModel)]="(temporaryData.interestAmt*100)/temporaryData.totalInvestmentAmt"> -->
              <label for="username">sumAssured</label>
              <input type="text" formControlName="sumAssured" [(ngModel)]="temporaryData.totalAmt">
              <!-- <label for="username">commision</label> -->
              <input type="hidden" formControlName="customerId">
              <!-- <label for="username">totalCommision</label> -->
              <input type="hidden" formControlName="schemeId" [(ngModel)]="temporaryData.insuranceSchemeId">
              <input type="hidden" formControlName="status">
            </div>
           
            <button type="submit"  routerLink="/customer-payment">Submit</button>
          </form>
    </div>
</body>